$base-color: #12263A;
$primary-color: #E9EBEC;
$secondary-color: #F16D41;

$footer-divider-color: hsl(200, 7%, 92%, 0.5);

$input-color: #7E8993;

$border-radius-button: 5px;

$header-top-space: 65px

