@import "../../variables.scss";

.timeline_item{
    width: 1024px;
    height: 500px;
    border-radius: 20px;
    background: hsl(210, 40%, 20%);
    box-shadow:  10px 15px 20px hsl(210, 40%, 14%, 1),
        -10px -10px 26px hsla(209, 40%, 25%, 0.4);
    position: relative;
    .content{
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 1;
        padding: 30px;
        overflow: hidden;
        .top{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 30px;
            margin-bottom: 10px;
            .index{
                font-size: 150px;
                color: $secondary-color;
                margin: 0;
                padding: 0;
                line-height: 140px;
            }
            .name{
                font-size: 70px;
                font-weight: 400;
                letter-spacing: 5px;
                color: $primary-color;
                margin: 0;
                padding: 0;
            }
        }
        .project_content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 30px;
            .description{
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 1px;
            }
            .image{
                grid-column-start: 2;

                grid-row-start: 1;
                grid-row-end: -1;

                width: 100%;
                height: auto;
            }
            .actionButton{
                background-color: $secondary-color;

                font-size: 22px;
                width: fit-content;

                letter-spacing: 2px;
                padding: 6px 40px;
                border-top: 0px solid $secondary-color;
                border-bottom: 0px solid $secondary-color;

                position: relative;

                overflow: hidden;
                cursor: pointer;
                    
                p{
                    z-index: 9999;
                    cursor: pointer;
                }
                .button_mask{
                    z-index: -5;
                    cursor: pointer;
                    &::after{
                        content: " ";
                        text-align: center;

                        position: absolute;
                        top: 0;
                        left: 0;

                        background-color: #3570AC;
                        width: 100%;
                        height: 100%;


                        transform: translate(-100%);
                        transition-duration: 500ms;
                        transition-timing-function: cubic-bezier(.694,.048,.335,1);
                    }
                }

                &:hover{
                    transition-delay: 500ms;
                    transition-duration: 200ms;
                    opacity: 100%;
                    
                    opacity: 70%;
                    
                    .button_mask{
                        &::after{
                            transform: translate(100%);
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1184px) {
        width: 100%;
    }
}
.left{
    margin-right: auto;
}
.right{
    margin-left: auto;
}